body{
    background: #4e5b6c;
    margin-left: 0px;
    margin-right: 0px;
}
p::selection,h4::selection,h1::selection,strong::selection,a::selection,ul::selection,li::selection,div::selection,img::selection,span::selection{
    background:  #dca459;
    color: #282f3f;;
}
header{
    background: #4e5b6c;
    color: white;
    height: auto;
    width: 100%;
    position: fixed; 
    z-index: 1;
    margin-top: -8px;
}
#logo{
    width: 150px;
    height: 60px;
    padding-left: 0px;
    padding-top: 8px;
}
#sublogos{
    display: block;
    font-weight: 800;
    font-size: 15px;
    color: white;
    font-family: 'Amarante', cursive;
    padding-left: 30px;
}
#nombre a {
    color: white;
}
#nombre{
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#nombre:hover{
    color: #0b76a6;
}
#menu {
	float: right;
    padding-top: 80px;
}
.ulmenu {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}
	
.liulmenu {
    display: inline-block;
}
			
.aliulmenu {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-family: 'Amarante', cursive;
    font-size: 15px;
}
.aliulmenu:hover {
    background:  #dca459;
    color: #282f3f;
}
a#pull{
    display: none;
}
section{
    clear: both;
    width: 100%;
    height: auto;
}
#hero{
    margin-top: -142px;
    background-image: url(../Imagenes/contacto.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height: 700px;
    width: 100%;
    text-align: center;
}
#phero{
    color: #282f3f;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 150px;
/*    padding-top: 200px;*/
    line-height: 700px;
}
#primeraSeccion{
    width: 100%;
    height: 1050px;
    background-color: #dfe3ee;
    margin-top: -50px;  
}
#presentacion{
    background-color: #fdfdff;
    width: 100%;
    height: auto;
    text-align: center;
}
#ppresentacion{
    color: #8b9dc3;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
}
#pdospresentacion{
    width: 70%;
    font-family: 'Amarante', cursive;
    color: #8b9dc3;
    font-size: 20px;
    padding-left: 300px;
    margin-top: -40px;
    padding-bottom: 10px;
}
#formulario{
    width: 45%;
    float: left;
    font-family: 'Amarante', cursive;
    font-size: 15px;
    color:  #3b5998;
    border: 4px solid #f1f1f1;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
form{
    padding-left: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#benviar{
    background-color: transparent;
    font-family: 'Gloria Hallelujah', cursive;
    border-color: #282f3f;
    border-radius: 25px;
    font-size: 25px;
    width: 150px;
    height: 50px;
    margin-left: 150px;
    margin-bottom: 20px;
}
#benviar:hover{
    background-color: #282f3f;
    color: white;
    cursor:pointer;
}
#botonFinalizar{
    background-color: transparent;
    font-family: 'Gloria Hallelujah', cursive;
    border-color: #282f3f;
    border-radius: 25px;
    font-size: 25px;
    font-weight: 900;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
}
#botonFinalizar:hover{
    background-color: #282f3f;
    color: white;
    cursor:pointer;
}
.input{
    display: block;
    width: 500px;
    height: 30px;
}
#EnQue{
    min-height: 200px;
    max-height: 200px;
    min-width: 500px;
    max-width: 500px;
}
#contacto{
   float: right;
    width: 45%;
    font-family: 'Amarante', cursive;
    font-size: 15px;
    color:  #3b5998;
}
#uldire{
    list-style: none;
}
#ulred{
    list-style: none;
}
.lired{
    display: inline-block;
}
.ared{
    display: block;
}
#ulmap{
    list-style: none;
}
#mapa{
    width: 600px;
    height: 300px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    z-index: 2;
}
#iconored{
    font-size: 30px;
}
#iconored:hover::before{
    color: #dca459; 
    cursor: pointer;
}
#respuesta{
    font-family: 'Amarante', cursive;
    font-size: 20px;
    color: #8b9dc3;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
#divFinalizar{
    text-align: center;
    background-color:  	#dfe3ee;
    height: auto;
    padding-top: 10px;
    margin-top: -30px;
}
footer{
    width: 100%;
    background: #4e5b6c;
}
#contenedorFooter{
    display: block;
    padding-left: 250px;
    color: #f7f7f7;
}
#contenedorFooter ul {
    list-style: none;
}
#contenedorFooter li{
    padding: 10px;
}
#parteUno, #parteDos, #parteTres, #parteCuatro{
    font-family: 'Amarante', cursive;
    font-size: 15px;
    display: inline-block;
}
.h4footer{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    padding-left: 40px;
    color: #dca459;
}
#parteUno{
    width: 20%;
}
#parteDos{
    width: 20%;
}
#parteTres{
    width: 20%
}
#parteCuatro{
    width: 20%;
}
#parteCuatro i{
    font-size: 30px;
    padding: 5px;
}
@media screen  and (max-width: 1620px){
    form{
    padding-left: 50px;
    }
    #contenedorFooter{
    padding-left: 170px;
    }
}
@media screen  and (max-width: 1366px){
    #mapa{
        width: 550px;
        height: 300px;
    }
    #logo{
        height: 50px;
        padding-top: 20px;
    }
    #sublogos{
        font-size: 14px;
    }
    .aliulmenu {
        font-size: 14px;
    }
    #hero{
        height: 600px;
    }
    #phero{
        font-size: 120px;
    }
    #ppresentacion{
        font-size: 40px;
    }
    #pdospresentacion{
        width: 80%;
        font-size: 18px;
        padding-left: 150px;
        margin-top: -20px;
    }
    .input{
        width: 500px;
        height: 25px;
}
    #EnQue{
        min-height: 150px;
        max-height: 150px;
        min-width: 500px;
        max-width: 500px;
    }
    #formulario{
        font-size: 12px;
    }
    #contacto{
        font-size: 12px;
    }
    #parteUno, #parteDos, #parteTres, #parteCuatro{
        font-size: 12px;
    }
    .h4footer{
        font-size: 15px;
    }
}
@media screen  and (max-width: 1266px){
     form{
        padding-left: 20px;
    }
    #mapa{
        width: 500px;
        height: 300px;
    }
}
@media screen  and (max-width: 1166px){
      .input{
        width: 450px;
        height: 25px;
}
    #EnQue{
        min-height: 150px;
        max-height: 150px;
        min-width: 450px;
        max-width: 450px;
    } 
    #contenedorFooter{
    padding-left: 120px;
    }
}
@media screen  and (max-width: 1066px){
    #mapa{
        width: 400px;
        height: 300px;
    }
     .input{
        width: 400px;
        height: 25px;
}
    #EnQue{
        min-height: 150px;
        max-height: 150px;
        min-width: 400px;
        max-width: 400px;
    } 
}
@media screen  and (max-width: 1024px){
    #hero{
        height: 500px;
    }
    #phero{
        font-size: 120px;
        line-height: 500px;
    }
    #mapa{
        width: 400px;
        height: 300px;
    }
    .input{
        width: 400px;
        height: 25px;
    }
    #EnQue{
        min-height: 150px;
        max-height: 150px;
        min-width: 400px;
        max-width: 400px;
    } 
    parteCuatro i{
        font-size: 20px;
        padding: 5px;
    }
    #respuesta{
        font-size: 12px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}
@media screen  and (max-width: 768px){
    #logo{
    width: 140px;
    height: 50px;
    padding-top: 40px;
    }
    #sublogos{
    font-size: 12px;
    }
    .aliulmenu {
    font-size: 12px;
    }
    #menu {
	float: right;
    padding-top: 106px;
    }
    #hero{
        background-size:1650px;
    }
     #phero{
        font-size: 100px;
    }
    #formulario{
    width: 80%;
    clear: both;
    }
    #contacto{
    clear: both;
    width: 80%;
    float: left;
    padding-left: 50px;
    }
    #primeraSeccion{
    width: 100%;
    height: 1500px;
    background-color: #dfe3ee;
    margin-top: -50px;  
    }
    .input{
        width: 500px;
        height: 20px;
    }
    #EnQue{
        min-height: 150px;
        max-height: 150px;
        min-width: 500px;
        max-width: 500px;
    } 
    #mapa{
        width: 600px;
        height: 300px;
        
    }
    #ppresentacion{
    font-size: 30px;
}
#pdospresentacion{
    width: 90%;
    font-size: 15px;
    padding-left: 50px;
    margin-top: -20px;
    }

#contenedorFooter{
    padding-left: 0px;
}

#contenedorFooter li{
    padding: 5px;
}
#parteUno, #parteDos, #parteTres, #parteCuatro{
    font-size: 12px;
}
.h4footer{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
    padding-left: 40px;
    color: #dca459;
}
#parteUno{
    width: 22%;
}
#parteDos{
    width: 22%;
}
#parteTres{
    width: 22%
}
#parteCuatro{
    width: 22%;
}
#parteCuatro i{
    font-size: 20px;
    padding: 3px;
}
}
@media screen  and (max-width: 414px){
    #logo{
    width: 100px;
    height: 20px;
    padding-top: 40px;
    }
    #sublogos{
    font-size: 8px;
    }
    .ulmenu {
    padding-right: 0px;
}
    .aliulmenu {
    font-size: 8px;
}
    #menu {
    padding-top: 70px;
}
    #hero{
    margin-top: -90px;
    background-image: none;
    background-color: white;
    height: 250px;
    }
    #phero{
        font-size: 50px;
        line-height: 300px;
    }
    #ppresentacion{
    font-size: 20px;
}
    #pdospresentacion{
    width: 90%;
    font-size: 12px;
    padding-left: 20px;
    margin-top: -20px;
    }
    .input{
        width: 260px;
        height: 20px;
    }
    #EnQue{
        min-height: 150px;
        max-height: 150px;
        min-width: 260px;
        max-width: 260px;
    } 
    #mapa{
        width: 320px;
        height: 250px;
        
    }
    #primeraSeccion{
    height: 1450px;
    }
     #formulario{
        margin-left: 20px;
    }
     #benviar{
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-left: 100px;
    margin-bottom: 20px;
}
    #contacto{
    clear: both;
    width: 80%;
    float: left;
    padding-left: 30px;
    }
    #iconored{
    font-size: 20px;
}
    #contenedorFooter li{
        margin-left: -15px;
        margin-right: 5px;
}
    #parteUno, #parteDos, #parteTres, #parteCuatro{
    font-size: 5px;
}
    .h4footer{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 12px;
    padding-left: 35px;
    color: #dca459;
}
    #parteUno{
    width: 22%;
}
    #parteDos{
    width: 22%;
}
    #parteTres{
    width: 22%
}
    #parteCuatro{
    width: 22%;
}
    #parteCuatro i{
    font-size: 10px;
    padding: 1px;
}
       #respuesta{
        font-size: 8px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #botonFinalizar{
    font-size: 15px;
    width: 120px;
    height: 30px;
}
}
@media screen  and (max-width: 375px){
    #logo{
    width: 100px;
    height: 20px;
    padding-top: 40px;
    }
    #sublogos{
    font-size: 8px;
    }
    .ulmenu {
    padding-right: 0px;
}
    .aliulmenu {
    font-size: 8px;
}
    #menu {
    padding-top: 70px;
}
    #hero{
    margin-top: -90px;
    background-image: none;
    background-color: white;
    height: 250px;
    }
    #phero{
        font-size: 50px;
        line-height: 300px;
    }
    #ppresentacion{
    font-size: 20px;
}
    #pdospresentacion{
    width: 90%;
    font-size: 12px;
    padding-left: 20px;
    margin-top: -20px;
    }
    .input{
        width: 260px;
        height: 20px;
    }
    #EnQue{
        min-height: 150px;
        max-height: 150px;
        min-width: 260px;
        max-width: 260px;
    } 
    #mapa{
        width: 320px;
        height: 250px;
        
    }
    #primeraSeccion{
    height: 1450px;
    }
     #formulario{
        margin-left: 20px;
    }
    #benviar{
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-left: 100px;
    margin-bottom: 20px;
}
    #contacto{
    clear: both;
    width: 80%;
    float: left;
    padding-left: 30px;
    }
    #iconored{
    font-size: 20px;
}
    #contenedorFooter li{
        margin-left: -15px;
        margin-right: 5px;
}
    #parteUno, #parteDos, #parteTres, #parteCuatro{
    font-size: 5px;
}
    .h4footer{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 12px;
    padding-left: 35px;
    color: #dca459;
}
    #parteUno{
    width: 22%;
}
    #parteDos{
    width: 22%;
}
    #parteTres{
    width: 22%
}
    #parteCuatro{
    width: 22%;
}
    #parteCuatro i{
    font-size: 10px;
    padding: 1px;
}
     #respuesta{
        font-size: 8px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #botonFinalizar{
    font-size: 15px;
    width: 120px;
    height: 30px;
}
}
@media screen  and (max-width: 320px){
    #menu {
        padding-top: 82px;
}
    #logo{
    width: 90px;
    padding-top: 50px;
    }
    #sublogos{
        padding-left: 0px;
    }
    #phero{
        font-size: 40px;
        line-height: 300px;
    }
    #mapa{
        width: 260px;
        height: 250px;
        
    }
    #primeraSeccion{
    height: 1250px;
    }
    .input{
        width: 220px;
        height: 15px;
    }
    #EnQue{
        min-height: 100px;
        max-height: 100px;
        min-width: 220px;
        max-width: 220px;
    } 
    #ppresentacion{
    font-size: 15px;
}
    #pdospresentacion{
    width: 90%;
    font-size: 10px;
    padding-left: 15px;
    margin-top: -10px;
    }
    #contenedorFooter li{
        margin-left: -20px;
        margin-right: 5px;
}
    #parteUno, #parteDos, #parteTres, #parteCuatro{
    font-size: 4px;
}
    .h4footer{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 10px;
    padding-left: 20px;
    color: #dca459;
}

    #parteCuatro i{
    font-size: 6px;
    padding: 1px;
}
       #respuesta{
        font-size: 5px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #botonFinalizar{
    font-size: 9px;
    width: 90px;
    height: 20px;
}
}